/webapp/target/
/target/
/core/target/
/rest/target/
/webapp/logs/
/core/jobs/
/core/logs/

/http/target/
/webapp/src/main/resources/config.json
/core/src/test/resources/test-config.json

*.properties
*/nb-configuration.xml

# Eclipse
.classpath
.project
.settings/
/sm4c-monitoring/target/
/sm4c-collector/target/