/webapp/target/
/target/
/core/target/
/rest/target/
/webapp/logs/
/core/jobs/
/core/logs/

/http/target/
/webapp/src/main/resources/config.json
/core/src/test/resources/test-config.json

# Eclipse
.classpath
.project
.settings/
