<div layout="column" ng-controller="CollectionTrainerCtrl">
  <!-- <h1 class="md-display-2">Classification</h1> -->
  <h1 class="md-display-1">{{collection.name}}</h1>
  <md-card>
    <md-card-header>
      <md-card-header-text>
        <h2>Model Details</h2>
      </md-card-header-text>
    </md-card-header>
    <md-card-content layout="column" layout-align="space-between">
      <div layout="column">
        <md-content flex layout-padding ng-show="!collection.model">
          <h3>Model ist nicht vorhanden</h3>
          <p>Bitte klassifizieren Sie zunächst einige Trainingsdaten, um anschließend ein Model zu erstellen.</p>
        </md-content>
      </div>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-header>
      <md-card-header-text>
        <h2>Training</h2>
      </md-card-header-text>
    </md-card-header>
    <md-card-content layout="column" layout-align="space-between">
      <div layout="column">
        <p>Wählen Sie zunächst aus, wieviele Trainingsdaten Sie klassifizieren möchten:</p>
        <md-slider-container>
          <md-slider flex md-discrete step="100" min="0" max="{{collection.documentCount}}" ng-model="trainingSize" aria-label="trainingSize" id="sizeSlider" ng-change="sliderChanged()">
          </md-slider>
        </md-slider-container>
        <div><md-button flex class="md-raised" ng-disabled="checkTrainingSize()"  ng-click="loadTrainingData()"><md-icon md-svg-icon="images/icons/update_black_18px.svg"></md-icon>Trainingsdaten abrufen</md-button></div>
      </div>
    </md-card-content>
  </md-card>

</div>
