<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4" >
<!-- <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="true" md-whiteframe="4"> -->
  <md-content layout-padding ng-controller="SidenavCtrl">
    <md-button ng-click="relocateTo('/overview')"><md-icon> list </md-icon> Collections anzeigen</md-button>
    <md-button ng-click="relocateTo('/create')"><md-icon> add </md-icon> Collection erstellen</md-button>
    <!-- <md-button ng-click="relocateTo('/collection')"><md-icon> description </md-icon> Collection anschauen</md-button> -->
    <md-button ng-click="relocateTo('/map')"><md-icon> map </md-icon> Karte</md-button>
  </md-content>
</md-sidenav>
