<div layout-fill layout="row" flex ng-cloak ng-controller="CollectionManagerCtrl">
  <div layout="column" flex>
    <div layout="row">
      <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="goto('templates/partials/collectionDetails.html')" name="templates/partials/collectionDetails.html">Details</md-nav-item>
        <md-nav-item md-nav-click="goto('templates/partials/collectionTrainer.html')" name="templates/partials/collectionTrainer.html">Trainer</md-nav-item>
        <md-nav-item md-nav-click="goto('templates/partials/collectionMap.html')" name="templates/partials/collectionMap.html">Map</md-nav-item>
      </md-nav-bar>
    </div>
    <div layout="row" flex class="ext-content">
      <div layout="column" flex ng-include="currentNavItem"></div>
    </div>
  </div>
</div>
