<div class="content" ng-controller="CreateCollectionCtrl">
  <h2>Collection erstellen</h2>

  <form name="collectionForm">
    <md-card>
      <md-card-title>
        <h2 flex md-truncate>Details</h2>
      </md-card-title>
      <md-card-content layout="column" layout-align="space-between">
        <md-input-container class="md-block">
          <label>Name</label>
          <input ng-model="newCollection.name" required="true" md-maxlength="64" name="collectionName">
          <div ng-messages="collectionForm.collectionName.$error">
            <div ng-message="required">Diese Angabe wird benötigt.</div>
            <div ng-message="md-maxlength">Der Name darf nicht mehr als 64 Zeichen aufweisen.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Beschreibung</label>
          <input ng-model="newCollection.description" required="true" name="collectionDescription">
          <div ng-messages="collectionForm.collectionDescription.$error">
            <div ng-message="required">Diese Angabe wird benötigt.</div>
            <!-- <div ng-message="md-maxlength">Der Name darf nicht mehr als 64 Zeichen aufweisen.</div> -->
          </div>
        </md-input-container>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-title>
        <h2 flex md-truncate>Dienste</h2>
      </md-card-title>
      <md-card-content layout="column" layout-align="space-between">
        <md-checkbox ng-model="newCollection.fbCb" aria-label="Facebook Checkbox" ng-init="newCollection.fbCb=true" ng-disabled="true">
          Facebook
        </md-checkbox>
        <md-checkbox ng-model="newCollection.twitterCb" aria-label="Facebook Checkbox" ng-disabled="true" >
          Twitter
        </md-checkbox>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-title>
        <h2 flex md-truncate>Tags</h2>
      </md-card-title>
      <md-card-content layout="column" layout-align="space-between">
        <p>Bitte geben Sie Tags an, die als Suchbergriffe für die Erstellung einer Collection verwendet werden sollen:</p>
        <md-chips ng-model="newCollection.tags" placeholder="Tag hinzufügen" delete-button-label="Tag entfernen" delete-hint="Drücke Entfernen um Tag zu entfernen" secondary-placeholder="+Tag"></md-chips>
        <div><md-button flex class="md-raised" ng-disabled="checkTags()"  ng-click="loadSources()"><md-icon md-svg-icon="images/icons/update_black_18px.svg"></md-icon>Gruppen & Seiten ermitteln </md-button></div>
      </md-card-content>
    </md-card>
    <md-card  ng-show="checkSources()">
      <md-card-title>
        <h2 flex md-truncate>Quellen</h2>
      </md-card-title>
      <md-card-content layout-align="space-between">
        <div style="max-height: 300px" layout="row">
          <fieldset style="overflow: scroll;" class="standard" flex="50">
            <legend>Facebook Gruppen</legend>
            <div layout="column" layout-wrap flex>
              <div ng-repeat="group in groups">
                <md-checkbox ng-checked="exists(group, selectedGroups)" ng-click="toggle(group, selectedGroups)">
                  {{group.name}}
                </md-checkbox>
              </div>
            </div>
          </fieldset>
          <fieldset style="overflow: scroll;" class="standard" flex="50">
            <legend>Facebook Seiten</legend>
            <div layout="column" layout-wrap flex>
              <div flex="50" ng-repeat="page in pages">
                <md-checkbox ng-checked="exists(page, selectedPages)" ng-click="toggle(page, selectedPages)">
                  {{page.name}}
                </md-checkbox>
              </div>
            </div>
          </fieldset>
        </div>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-title>
        <h2 flex md-truncate>Labels</h2>
      </md-card-title>
      <md-card-content layout="column" layout-align="space-between">
        <p>Bitte geben Sie Labels für die Klassifizierung an:</p>
        <md-chips ng-model="newCollection.labels" readonly="CreateCollectionCtrl.readonly" placeholder="Label hinzufügen" delete-button-label="Label entfernen" delete-hint="Drücke Entfernen um Label zu entfernen" secondary-placeholder="+Label"></md-chips>
      </md-card-content>
    </md-card>
    <md-button class="md-raised md-secondary" type="button" ng-click="reset()">
      <md-icon> cancel </md-icon> Zurücketzen
    </md-button>
    <md-button class="md-raised md-primary" type="submit" ng-click="submit($event)">
      <md-icon> save </md-icon> Erstelle Collection
    </md-button>
  </form>
</div>
