/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu>li {
  display: inline;
}

.menu>li+li:before {
  content: "|";
  padding-right: 0.3em;
}

.header {
  background-color: #990000;
  padding-top: 5px;
}

.header-content {
  color: #ffffff;
}

.header-content button, .header-content a, .header-content h1 {
  float: left;
}

.header-content h1 {
  line-height: 70px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  font-size: 50px;
}

body {
  height: initial;
}

body {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

.collection-content-wrapper table, .collection-content-wrapper div {
  float: left;
}

table.collection-content tbody tr th {
  text-align: right;
  vertical-align: center;
}

table.collection-content tbody tr {
  border-style: collapse;
  margin-bottom: 1em;
}

table.collection-content {
  border-style: separate;
  border-spacing: 10px;
  margin-bottom: 20px;
}

table.collection-content tbody tr td {
  margin-top: 0px;
  padding-left: 20px;
}

table.collection-content ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

table.collection-content li {
  display: inline;
}
table.collection-content li:not(:first-child):before {
    content: " | ";
}
md-toolbar {
  font-weight: 300;
  height: 45px;
  min-height: 45px;
  margin-bottom: 10px;
}
md-toolbar.overview {
  font-weight: 300;
  height: 45px;
  min-height: 45px;
}
div.collection-details{
  margin-left: 20px;
}
.md-icon-button[disabled] svg {
  fill: rgba(0, 0, 0, 0.26);
}
